In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import os
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import pandas as pd
import os
import datetime

C:\Users\suvam\AppData\Local\Temp\ipykernel_34608\3129944962.py:6: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\suvam\AppData\Local\Temp\ipykernel_34608\3129944962.py:7: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [2]:
# Full time tech
# Define the path to the directory
directory_path = r'G:\My Drive\Application Documents\1 Data Science\Applications\full time'

# Function to get creation date of a file or directory
def get_creation_date(path):
    return datetime.datetime.fromtimestamp(os.path.getctime(path))

# List all folders (directories) in the specified directory along with their creation dates
folders_with_dates = [(f.name, get_creation_date(f.path)) for f in os.scandir(directory_path) if f.is_dir()]

# Create a DataFrame from the list
df = pd.DataFrame(folders_with_dates, columns=['Folder Name', 'Creation Date'])
df["Field"] = "Tech"
df["Type"] = "Full time"

In [3]:
directory_path = r'G:\My Drive\Application Documents\1 Data Science\Applications\werkstudent'

# Function to get creation date of a file or directory
def get_creation_date(path):
    return datetime.datetime.fromtimestamp(os.path.getctime(path))

# List all folders (directories) in the specified directory along with their creation dates
folders_with_dates = [(f.name, get_creation_date(f.path)) for f in os.scandir(directory_path) if f.is_dir()]

# Create a DataFrame from the list
temp_df = pd.DataFrame(folders_with_dates, columns=['Folder Name', 'Creation Date'])
temp_df["Field"] = "Tech"
temp_df["Type"] = "Part time"

df = pd.concat([df, temp_df], ignore_index=True)

In [4]:
directory_path = r'G:\My Drive\Application Documents\1 Data Science\Applications\werkstudent'

# Function to get creation date of a file or directory
def get_creation_date(path):
    return datetime.datetime.fromtimestamp(os.path.getctime(path))

# List all folders (directories) in the specified directory along with their creation dates
folders_with_dates = [(f.name, get_creation_date(f.path)) for f in os.scandir(directory_path) if f.is_dir()]

# Create a DataFrame from the list
temp_df = pd.DataFrame(folders_with_dates, columns=['Folder Name', 'Creation Date'])
temp_df["Field"] = "Tech"
temp_df["Type"] = "Part time"

In [5]:
directory_path = r'G:\My Drive\Application Documents\1.1 Climate Tech\Applications'

# Function to get creation date of a file or directory
def get_creation_date(path):
    return datetime.datetime.fromtimestamp(os.path.getctime(path))

# List all folders (directories) in the specified directory along with their creation dates
folders_with_dates = [(f.name, get_creation_date(f.path)) for f in os.scandir(directory_path) if f.is_dir()]

# Create a DataFrame from the list
temp_df = pd.DataFrame(folders_with_dates, columns=['Folder Name', 'Creation Date'])
temp_df["Field"] = "Climate Tech"
temp_df["Type"] = "Full time"

df = pd.concat([df, temp_df], ignore_index=True)
df

       Folder Name           Creation Date         Field       Type
0         TWT gmbh 2024-01-08 07:31:15.239          Tech  Full time
1             iabg 2024-01-08 07:56:20.798          Tech  Full time
2     sopra steria 2024-01-08 08:04:20.009          Tech  Full time
3            zeiss 2024-01-08 08:07:03.220          Tech  Full time
4        bridingIT 2024-01-12 23:30:38.155          Tech  Full time
..             ...                     ...           ...        ...
69   sopra steria2 2024-01-30 14:09:21.302          Tech  Part time
70  siemens energz 2024-03-02 17:24:09.908          Tech  Part time
71       munich re 2024-03-03 19:44:47.766  Climate Tech  Full time
72   dg nexolution 2024-03-04 17:15:24.890  Climate Tech  Full time
73       redmondis 2024-03-04 17:17:11.852  Climate Tech  Full time

[74 rows x 4 columns]

In [6]:


directory_path = r'G:\My Drive\Application Documents\2 Sustainability\Applications'

# Function to get creation date of a file or directory
def get_creation_date(path):
    return datetime.datetime.fromtimestamp(os.path.getctime(path))

# List all folders (directories) in the specified directory along with their creation dates
folders_with_dates = [(f.name, get_creation_date(f.path)) for f in os.scandir(directory_path) if f.is_dir()]

# Create a DataFrame from the list
temp_df = pd.DataFrame(folders_with_dates, columns=['Folder Name', 'Creation Date'])
temp_df["Field"] = "Sustainability"
temp_df["Type"] = "Full time"

df = pd.concat([df, temp_df], ignore_index=True)
df

     Folder Name           Creation Date           Field       Type
0       TWT gmbh 2024-01-08 07:31:15.239            Tech  Full time
1           iabg 2024-01-08 07:56:20.798            Tech  Full time
2   sopra steria 2024-01-08 08:04:20.009            Tech  Full time
3          zeiss 2024-01-08 08:07:03.220            Tech  Full time
4      bridingIT 2024-01-12 23:30:38.155            Tech  Full time
..           ...                     ...             ...        ...
92       omnicom 2023-07-29 14:42:18.734  Sustainability  Full time
93       ramboll 2023-07-29 14:42:18.799  Sustainability  Full time
94       siemens 2023-07-29 14:42:18.951  Sustainability  Full time
95      siemens2 2023-07-29 14:42:19.050  Sustainability  Full time
96         swiss 2023-07-29 14:42:19.198  Sustainability  Full time

[97 rows x 4 columns]

In [7]:
df

     Folder Name           Creation Date           Field       Type
0       TWT gmbh 2024-01-08 07:31:15.239            Tech  Full time
1           iabg 2024-01-08 07:56:20.798            Tech  Full time
2   sopra steria 2024-01-08 08:04:20.009            Tech  Full time
3          zeiss 2024-01-08 08:07:03.220            Tech  Full time
4      bridingIT 2024-01-12 23:30:38.155            Tech  Full time
..           ...                     ...             ...        ...
92       omnicom 2023-07-29 14:42:18.734  Sustainability  Full time
93       ramboll 2023-07-29 14:42:18.799  Sustainability  Full time
94       siemens 2023-07-29 14:42:18.951  Sustainability  Full time
95      siemens2 2023-07-29 14:42:19.050  Sustainability  Full time
96         swiss 2023-07-29 14:42:19.198  Sustainability  Full time

[97 rows x 4 columns]

In [8]:
df

     Folder Name           Creation Date           Field       Type
0       TWT gmbh 2024-01-08 07:31:15.239            Tech  Full time
1           iabg 2024-01-08 07:56:20.798            Tech  Full time
2   sopra steria 2024-01-08 08:04:20.009            Tech  Full time
3          zeiss 2024-01-08 08:07:03.220            Tech  Full time
4      bridingIT 2024-01-12 23:30:38.155            Tech  Full time
..           ...                     ...             ...        ...
92       omnicom 2023-07-29 14:42:18.734  Sustainability  Full time
93       ramboll 2023-07-29 14:42:18.799  Sustainability  Full time
94       siemens 2023-07-29 14:42:18.951  Sustainability  Full time
95      siemens2 2023-07-29 14:42:19.050  Sustainability  Full time
96         swiss 2023-07-29 14:42:19.198  Sustainability  Full time

[97 rows x 4 columns]

In [9]:
df

     Folder Name           Creation Date           Field       Type
0       TWT gmbh 2024-01-08 07:31:15.239            Tech  Full time
1           iabg 2024-01-08 07:56:20.798            Tech  Full time
2   sopra steria 2024-01-08 08:04:20.009            Tech  Full time
3          zeiss 2024-01-08 08:07:03.220            Tech  Full time
4      bridingIT 2024-01-12 23:30:38.155            Tech  Full time
..           ...                     ...             ...        ...
92       omnicom 2023-07-29 14:42:18.734  Sustainability  Full time
93       ramboll 2023-07-29 14:42:18.799  Sustainability  Full time
94       siemens 2023-07-29 14:42:18.951  Sustainability  Full time
95      siemens2 2023-07-29 14:42:19.050  Sustainability  Full time
96         swiss 2023-07-29 14:42:19.198  Sustainability  Full time

[97 rows x 4 columns]

In [10]:
df['Creation Date'] = pd.to_datetime(df['Creation Date'])
df['Creation Date'] = df['Creation Date'].dt.date
df

     Folder Name Creation Date           Field       Type
0       TWT gmbh    2024-01-08            Tech  Full time
1           iabg    2024-01-08            Tech  Full time
2   sopra steria    2024-01-08            Tech  Full time
3          zeiss    2024-01-08            Tech  Full time
4      bridingIT    2024-01-12            Tech  Full time
..           ...           ...             ...        ...
92       omnicom    2023-07-29  Sustainability  Full time
93       ramboll    2023-07-29  Sustainability  Full time
94       siemens    2023-07-29  Sustainability  Full time
95      siemens2    2023-07-29  Sustainability  Full time
96         swiss    2023-07-29  Sustainability  Full time

[97 rows x 4 columns]

In [21]:
print(df)

     Folder Name Creation Date           Field       Type
0       TWT gmbh    2024-01-08            Tech  Full time
1           iabg    2024-01-08            Tech  Full time
2   sopra steria    2024-01-08            Tech  Full time
3          zeiss    2024-01-08            Tech  Full time
4      bridingIT    2024-01-12            Tech  Full time
..           ...           ...             ...        ...
92       omnicom    2023-07-29  Sustainability  Full time
93       ramboll    2023-07-29  Sustainability  Full time
94       siemens    2023-07-29  Sustainability  Full time
95      siemens2    2023-07-29  Sustainability  Full time
96         swiss    2023-07-29  Sustainability  Full time

[97 rows x 4 columns]

In [22]:
df

     Folder Name Creation Date           Field       Type
0       TWT gmbh    2024-01-08            Tech  Full time
1           iabg    2024-01-08            Tech  Full time
2   sopra steria    2024-01-08            Tech  Full time
3          zeiss    2024-01-08            Tech  Full time
4      bridingIT    2024-01-12            Tech  Full time
..           ...           ...             ...        ...
92       omnicom    2023-07-29  Sustainability  Full time
93       ramboll    2023-07-29  Sustainability  Full time
94       siemens    2023-07-29  Sustainability  Full time
95      siemens2    2023-07-29  Sustainability  Full time
96         swiss    2023-07-29  Sustainability  Full time

[97 rows x 4 columns]

In [25]:
# New row to add
new_row = {
    'Folder Name': 'dummy',
    'Creation Date': '2024-03-05',
    'Field': 'dummy',
    'Type': 'dummy'
}

# Create a DataFrame from the new row
new_df = pd.DataFrame([new_row])

# Concatenate the existing DataFrame with the new DataFrame
temp = pd.concat([df, new_df], ignore_index=True)
temp

     Folder Name Creation Date           Field       Type
0       TWT gmbh    2024-01-08            Tech  Full time
1           iabg    2024-01-08            Tech  Full time
2   sopra steria    2024-01-08            Tech  Full time
3          zeiss    2024-01-08            Tech  Full time
4      bridingIT    2024-01-12            Tech  Full time
..           ...           ...             ...        ...
93       ramboll    2023-07-29  Sustainability  Full time
94       siemens    2023-07-29  Sustainability  Full time
95      siemens2    2023-07-29  Sustainability  Full time
96         swiss    2023-07-29  Sustainability  Full time
97         dummy    2024-03-05           dummy      dummy

[98 rows x 4 columns]

In [16]:
new_row = {
    'Folder Name': "dummy" ,
    'Creation Date': "dummy",
    'Field': "dummy",
    'Type': "dummy"
}

TypeError: __init__() got an unexpected keyword argument 'ignore_index'

In [17]:
df = df.append(new_row, ignore_index=True)
df

AttributeError: 'DataFrame' object has no attribute 'append'

In [27]:
temp.to_csv("data.csv", index=False)

In [11]:
counts = df['Field'].value_counts()
counts

Field
Tech              63
Sustainability    23
Climate Tech       3
Name: count, dtype: int64

In [24]:
# Initialize the Dash app
app = dash.Dash(__name__)

# Create dropdown filter for dates
date_dropdown = dcc.Dropdown(
    id='date-dropdown',
    options=[{'label': date, 'value': date} for date in df['Creation Date'].unique()],
    value=df['Creation Date'].iloc[0]
)

# Define the layout of the dashboard
app.layout = html.Div([
    html.H1("Count of Different String Values"),
    html.Div([
        html.Label('Select a Date:'),
        date_dropdown
    ]),
    dcc.Graph(id='string-value-count-graph'),
])

# Define callback to update the graph
@app.callback(
    Output('string-value-count-graph', 'figure'),
    [Input('date-dropdown', 'value')]
)
def update_graph(selected_date):
    # Filter DataFrame based on selected date
    filtered_df = df[df['Creation Date'] > selected_date]
    counts = filtered_df['Field'].value_counts()

    return {
        'data': [
            {'x': counts.index, 'y': counts.values, 'type': 'bar', 'name': 'Count'},
        ],
        'layout': {
            'title': 'Count of Different String Values',
            'xaxis': {'title': 'String Values'},
            'yaxis': {'title': 'Count'}
        }
    }

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[24], line 28, in update_graph(selected_date='2024-01-08')
     22 @app.callback(
     23     Output('string-value-count-graph', 'figure'),
     24     [Input('date-dropdown', 'value')]
     25 )
     26 def update_graph(selected_date):
     27     # Filter DataFrame based on selected date
---> 28     filtered_df = df[df['Creation Date'] > selected_date]
        df =      Folder Name Creation Date           Field       Type
0       TWT gmbh    2024-01-08            Tech  Full time
1           iabg    2024-01-08            Tech  Full time
2   sopra steria    2024-01-08            Tech  Full time
3          zeiss    2024-01-08            Tech  Full time
4      bridingIT    2024-01-12            Tech  Full time
..           ...           ...             ...        ...
84       omnicom    2023-07-29  Sustainability  Full time
85       ramboll    2023-07-29  Sustainability  Full time
86       siemens    2023-07-29  Sustainability  Full time
87      siemens2    2023-07-29  Sustainability  Full time
88         swiss    2023-07-29  Sustainability  Full time

[89 rows x 4 columns]
        selected_date = '2024-01-08'
     29     counts = filtered_df['Field'].value_counts()
     31     return {
     32         'data': [
     33             {'x': counts.index, 'y': counts.values, 'type': 'bar', 'name': 'Count'},
   (...)
     39         }
     40     }

File c:\Users\suvam\miniconda3\envs\tensorflow_env\lib\site-packages\pandas\core\ops\common.py:76, in _unpack_zerodim_and_defer.<locals>.new_method(
    self=0     2024-01-08
1     2024-01-08
2     2024-01-...29
Name: Creation Date, Length: 89, dtype: object,
    other='2024-01-08'
)
     72             return NotImplemented
     74 other = item_from_zerodim(other)
---> 76 return method(self, other)
        other = '2024-01-08'
        method = <function OpsMixin.__gt__ at 0x00000167EB2BB4C0>
        self = 0     2024-01-08
1     2024-01-08
2     2024-01-08
3     2024-01-08
4     2024-01-12
         ...
84    2023-07-29
85    2023-07-29
86    2023-07-29
87    2023-07-29
88    2023-07-29
Name: Creation Date, Length: 89, dtype: object

File c:\Users\suvam\miniconda3\envs\tensorflow_env\lib\site-packages\pandas\core\arraylike.py:56, in OpsMixin.__gt__(
    self=0     2024-01-08
1     2024-01-08
2     2024-01-...29
Name: Creation Date, Length: 89, dtype: object,
    other='2024-01-08'
)
     54 @unpack_zerodim_and_defer("__gt__")
     55 def __gt__(self, other):
---> 56     return self._cmp_method(other, operator.gt)
        other = '2024-01-08'
        self = 0     2024-01-08
1     2024-01-08
2     2024-01-08
3     2024-01-08
4     2024-01-12
         ...
84    2023-07-29
85    2023-07-29
86    2023-07-29
87    2023-07-29
88    2023-07-29
Name: Creation Date, Length: 89, dtype: object

File c:\Users\suvam\miniconda3\envs\tensorflow_env\lib\site-packages\pandas\core\series.py:5799, in Series._cmp_method(
    self=0     2024-01-08
1     2024-01-08
2     2024-01-...29
Name: Creation Date, Length: 89, dtype: object,
    other='2024-01-08',
    op=<built-in function gt>
)
   5796 lvalues = self._values
   5797 rvalues = extract_array(other, extract_numpy=True, extract_range=True)
-> 5799 res_values = ops.comparison_op(lvalues, rvalues, op)
        lvalues = array([datetime.date(2024, 1, 8), datetime.date(2024, 1, 8),
       datetime.date(2024, 1, 8), datetime.date(2024, 1, 8),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 12),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 12),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 14), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 14), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 19),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 19),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 21),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 29),
       datetime.date(2024, 1, 29), datetime.date(2024, 1, 30),
       datetime.date(2024, 1, 30), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 2, 1), datetime.date(2024, 2, 1),
       datetime.date(2024, 2, 10), datetime.date(2024, 2, 10),
       datetime.date(2024, 2, 10), datetime.date(2024, 2, 13),
       datetime.date(2024, 2, 13), datetime.date(2024, 2, 13),
       datetime.date(2024, 2, 13), datetime.date(2024, 2, 14),
       datetime.date(2024, 2, 14), datetime.date(2024, 2, 14),
       datetime.date(2024, 2, 14), datetime.date(2024, 3, 1),
       datetime.date(2024, 3, 2), datetime.date(2024, 3, 4),
       datetime.date(2024, 3, 4), datetime.date(2024, 3, 4),
       datetime.date(2024, 3, 4), datetime.date(2024, 1, 2),
       datetime.date(2024, 1, 2), datetime.date(2024, 1, 2),
       datetime.date(2024, 1, 2), datetime.date(2024, 1, 15),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 21),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 30),
       datetime.date(2024, 1, 30), datetime.date(2024, 1, 30),
       datetime.date(2024, 3, 2), datetime.date(2024, 3, 3),
       datetime.date(2024, 3, 4), datetime.date(2024, 3, 4),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29)], dtype=object)
        rvalues = '2024-01-08'
        op = <built-in function gt>
        ops = <module 'pandas.core.ops' from 'c:\\Users\\suvam\\miniconda3\\envs\\tensorflow_env\\lib\\site-packages\\pandas\\core\\ops\\__init__.py'>
   5801 return self._construct_result(res_values, name=res_name)

File c:\Users\suvam\miniconda3\envs\tensorflow_env\lib\site-packages\pandas\core\ops\array_ops.py:346, in comparison_op(
    left=array([datetime.date(2024, 1, 8), datetime.date(...       datetime.date(2023, 7, 29)], dtype=object),
    right='2024-01-08',
    op=<built-in function gt>
)
    343     return invalid_comparison(lvalues, rvalues, op)
    345 elif lvalues.dtype == object or isinstance(rvalues, str):
--> 346     res_values = comp_method_OBJECT_ARRAY(op, lvalues, rvalues)
        lvalues = array([datetime.date(2024, 1, 8), datetime.date(2024, 1, 8),
       datetime.date(2024, 1, 8), datetime.date(2024, 1, 8),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 12),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 12),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 14), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 14), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 19),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 19),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 21),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 29),
       datetime.date(2024, 1, 29), datetime.date(2024, 1, 30),
       datetime.date(2024, 1, 30), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 2, 1), datetime.date(2024, 2, 1),
       datetime.date(2024, 2, 10), datetime.date(2024, 2, 10),
       datetime.date(2024, 2, 10), datetime.date(2024, 2, 13),
       datetime.date(2024, 2, 13), datetime.date(2024, 2, 13),
       datetime.date(2024, 2, 13), datetime.date(2024, 2, 14),
       datetime.date(2024, 2, 14), datetime.date(2024, 2, 14),
       datetime.date(2024, 2, 14), datetime.date(2024, 3, 1),
       datetime.date(2024, 3, 2), datetime.date(2024, 3, 4),
       datetime.date(2024, 3, 4), datetime.date(2024, 3, 4),
       datetime.date(2024, 3, 4), datetime.date(2024, 1, 2),
       datetime.date(2024, 1, 2), datetime.date(2024, 1, 2),
       datetime.date(2024, 1, 2), datetime.date(2024, 1, 15),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 21),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 30),
       datetime.date(2024, 1, 30), datetime.date(2024, 1, 30),
       datetime.date(2024, 3, 2), datetime.date(2024, 3, 3),
       datetime.date(2024, 3, 4), datetime.date(2024, 3, 4),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29)], dtype=object)
        rvalues = '2024-01-08'
        op = <built-in function gt>
    348 else:
    349     res_values = _na_arithmetic_op(lvalues, rvalues, op, is_cmp=True)

File c:\Users\suvam\miniconda3\envs\tensorflow_env\lib\site-packages\pandas\core\ops\array_ops.py:131, in comp_method_OBJECT_ARRAY(
    op=<built-in function gt>,
    x=array([datetime.date(2024, 1, 8), datetime.date(...       datetime.date(2023, 7, 29)], dtype=object),
    y='2024-01-08'
)
    129     result = libops.vec_compare(x.ravel(), y.ravel(), op)
    130 else:
--> 131     result = libops.scalar_compare(x.ravel(), y, op)
        y = '2024-01-08'
        op = <built-in function gt>
        x = array([datetime.date(2024, 1, 8), datetime.date(2024, 1, 8),
       datetime.date(2024, 1, 8), datetime.date(2024, 1, 8),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 12),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 12),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 14), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 14), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 19),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 19),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 21),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 29),
       datetime.date(2024, 1, 29), datetime.date(2024, 1, 30),
       datetime.date(2024, 1, 30), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 2, 1), datetime.date(2024, 2, 1),
       datetime.date(2024, 2, 10), datetime.date(2024, 2, 10),
       datetime.date(2024, 2, 10), datetime.date(2024, 2, 13),
       datetime.date(2024, 2, 13), datetime.date(2024, 2, 13),
       datetime.date(2024, 2, 13), datetime.date(2024, 2, 14),
       datetime.date(2024, 2, 14), datetime.date(2024, 2, 14),
       datetime.date(2024, 2, 14), datetime.date(2024, 3, 1),
       datetime.date(2024, 3, 2), datetime.date(2024, 3, 4),
       datetime.date(2024, 3, 4), datetime.date(2024, 3, 4),
       datetime.date(2024, 3, 4), datetime.date(2024, 1, 2),
       datetime.date(2024, 1, 2), datetime.date(2024, 1, 2),
       datetime.date(2024, 1, 2), datetime.date(2024, 1, 15),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 21),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 30),
       datetime.date(2024, 1, 30), datetime.date(2024, 1, 30),
       datetime.date(2024, 3, 2), datetime.date(2024, 3, 3),
       datetime.date(2024, 3, 4), datetime.date(2024, 3, 4),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29)], dtype=object)
        libops = <module 'pandas._libs.ops' from 'c:\\Users\\suvam\\miniconda3\\envs\\tensorflow_env\\lib\\site-packages\\pandas\\_libs\\ops.cp39-win_amd64.pyd'>
    132 return result.reshape(x.shape)

File ops.pyx:107, in pandas._libs.ops.scalar_compare()

TypeError: '>' not supported between instances of 'datetime.date' and 'str'

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[24], line 28, in update_graph(selected_date='2024-01-08')
     22 @app.callback(
     23     Output('string-value-count-graph', 'figure'),
     24     [Input('date-dropdown', 'value')]
     25 )
     26 def update_graph(selected_date):
     27     # Filter DataFrame based on selected date
---> 28     filtered_df = df[df['Creation Date'] > selected_date]
        df =      Folder Name Creation Date           Field       Type
0       TWT gmbh    2024-01-08            Tech  Full time
1           iabg    2024-01-08            Tech  Full time
2   sopra steria    2024-01-08            Tech  Full time
3          zeiss    2024-01-08            Tech  Full time
4      bridingIT    2024-01-12            Tech  Full time
..           ...           ...             ...        ...
84       omnicom    2023-07-29  Sustainability  Full time
85       ramboll    2023-07-29  Sustainability  Full time
86       siemens    2023-07-29  Sustainability  Full time
87      siemens2    2023-07-29  Sustainability  Full time
88         swiss    2023-07-29  Sustainability  Full time

[89 rows x 4 columns]
        selected_date = '2024-01-08'
     29     counts = filtered_df['Field'].value_counts()
     31     return {
     32         'data': [
     33             {'x': counts.index, 'y': counts.values, 'type': 'bar', 'name': 'Count'},
   (...)
     39         }
     40     }

File c:\Users\suvam\miniconda3\envs\tensorflow_env\lib\site-packages\pandas\core\ops\common.py:76, in _unpack_zerodim_and_defer.<locals>.new_method(
    self=0     2024-01-08
1     2024-01-08
2     2024-01-...29
Name: Creation Date, Length: 89, dtype: object,
    other='2024-01-08'
)
     72             return NotImplemented
     74 other = item_from_zerodim(other)
---> 76 return method(self, other)
        other = '2024-01-08'
        method = <function OpsMixin.__gt__ at 0x00000167EB2BB4C0>
        self = 0     2024-01-08
1     2024-01-08
2     2024-01-08
3     2024-01-08
4     2024-01-12
         ...
84    2023-07-29
85    2023-07-29
86    2023-07-29
87    2023-07-29
88    2023-07-29
Name: Creation Date, Length: 89, dtype: object

File c:\Users\suvam\miniconda3\envs\tensorflow_env\lib\site-packages\pandas\core\arraylike.py:56, in OpsMixin.__gt__(
    self=0     2024-01-08
1     2024-01-08
2     2024-01-...29
Name: Creation Date, Length: 89, dtype: object,
    other='2024-01-08'
)
     54 @unpack_zerodim_and_defer("__gt__")
     55 def __gt__(self, other):
---> 56     return self._cmp_method(other, operator.gt)
        other = '2024-01-08'
        self = 0     2024-01-08
1     2024-01-08
2     2024-01-08
3     2024-01-08
4     2024-01-12
         ...
84    2023-07-29
85    2023-07-29
86    2023-07-29
87    2023-07-29
88    2023-07-29
Name: Creation Date, Length: 89, dtype: object

File c:\Users\suvam\miniconda3\envs\tensorflow_env\lib\site-packages\pandas\core\series.py:5799, in Series._cmp_method(
    self=0     2024-01-08
1     2024-01-08
2     2024-01-...29
Name: Creation Date, Length: 89, dtype: object,
    other='2024-01-08',
    op=<built-in function gt>
)
   5796 lvalues = self._values
   5797 rvalues = extract_array(other, extract_numpy=True, extract_range=True)
-> 5799 res_values = ops.comparison_op(lvalues, rvalues, op)
        lvalues = array([datetime.date(2024, 1, 8), datetime.date(2024, 1, 8),
       datetime.date(2024, 1, 8), datetime.date(2024, 1, 8),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 12),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 12),
       datetime.date(2024, 1, 12), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 14), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 14), datetime.date(2024, 1, 14),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 19),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 19),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 21),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 29),
       datetime.date(2024, 1, 29), datetime.date(2024, 1, 30),
       datetime.date(2024, 1, 30), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 1, 31), datetime.date(2024, 1, 31),
       datetime.date(2024, 2, 1), datetime.date(2024, 2, 1),
       datetime.date(2024, 2, 10), datetime.date(2024, 2, 10),
       datetime.date(2024, 2, 10), datetime.date(2024, 2, 13),
       datetime.date(2024, 2, 13), datetime.date(2024, 2, 13),
       datetime.date(2024, 2, 13), datetime.date(2024, 2, 14),
       datetime.date(2024, 2, 14), datetime.date(2024, 2, 14),
       datetime.date(2024, 2, 14), datetime.date(2024, 3, 1),
       datetime.date(2024, 3, 2), datetime.date(2024, 3, 4),
       datetime.date(2024, 3, 4), datetime.date(2024, 3, 4),
       datetime.date(2024, 3, 4), datetime.date(2024, 1, 2),
       datetime.date(2024, 1, 2), datetime.date(2024, 1, 2),
       datetime.date(2024, 1, 2), datetime.date(2024, 1, 15),
       datetime.date(2024, 1, 19), datetime.date(2024, 1, 21),
       datetime.date(2024, 1, 21), datetime.date(2024, 1, 30),
       datetime.date(2024, 1, 30), datetime.date(2024, 1, 30),
       datetime.date(2024, 3, 2), datetime.date(2024, 3, 3),
       datetime.date(2024, 3, 4), datetime.date(2024, 3, 4),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29), datetime.date(2023, 7, 29),
       datetime.date(2023, 7, 29)], dtype=object)
        rvalues = '2024-01-08'
        op = <built-in function gt>

In [3]:
!jupyter nbconvert --to script main.ipynb

[NbConvertApp] Converting notebook main.ipynb to script
[NbConvertApp] Writing 4561 bytes to main.py